<div class="mcontrolpanel">
    <button class="button">
        <span class="emoji">⬛</span>
        <span class="label">Feed</span>
    </button>
    <button class="button" @onclick="CapturePhoto">
        <span class="emoji">⚪</span>
        <span class="label">Magic</span>
    </button>
    <button class="button">
        <span class="emoji">⬜</span>
        <span class="label">Profile</span>
    </button>
</div>

@code {
    private async Task CapturePhoto()
    {
        
    }
}
