<div class="mcontrolpanel">
    <button class="button">
        <span class="emoji">◀</span>
        <span class="label">Back</span>
    </button>
    <button class="button">
        <span class="emoji">⚪</span>
        <span class="label">Capture</span>
    </button>
    <button class="button">
        <span class="emoji">⬜</span>
        <span class="label">Gallery</span>
    </button>
</div>

@code {

}
